
<body>
    <br>
    <br><br>
    <div id="t">
        <thead>
            <th> <button class="btn btn-outline-dark">
                    <h2 routerLink="gifts" routerLinkActive="active-link"> gift</h2>
                </button></th>
            <br><br>
            <th><button class="btn btn-outline-dark">
                    <h2 routerLink="donors" routerLinkActive="active-link">Donors List</h2>
                </button></th>
        </thead>
    </div>

</body>



<router-outlet></router-outlet>
